
.intestazione {
    width: 400px;
}
.firma{
    margin: 30px;
    display: block;
    text-align: right;
}
.arrow {
    vertical-align: baseline;
}
.text {
    font-size: 25px;
}
.textHigh {
    font-size: 25px;
}
.firma {
    border-bottom: 1px solid #ddd;
    position: absolute;
    bottom: 30px;
    right: 20px;
}
.movimenti-box {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
}
.movimenti-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}
.movimenti-box table td {
    padding: 5px;
    vertical-align: top;
}
.movimenti-box table tr td:nth-child(2) {
    text-align: right;
}
.movimenti-box table tr.top table td {
    padding-bottom: 20px;
}
.movimenti-box table tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
    color: #333;
}
.movimenti-box table tr.information table td {
    padding-bottom: 40px;
}
.movimenti-box table tr.heading td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}
.movimenti-box table tr.details td {
    padding-bottom: 20px;
}
.movimenti-box table tr.item td {
    border-bottom: 1px solid #eee;
}
.movimenti-box table tr.item.last td {
    border-bottom: none;
}
.movimenti-box table tr.total td:nth-child(2) {
    border-top: 2px solid #eee;
    font-weight: bold;
}
@media only screen and (max-width: 600px) {
    .movimenti-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;
    }
    .movimenti-box table tr.information table td {
        width: 100%;
        display: block;
        text-align: center;
    }
}