<html>
    <head>
        <style>
            {#asset Header-Footer.css @encoding=utf8}
        </style>
    </head>
    <body>
        {{#each $pdf.pages}}
          {{#if @index}}
            <div style="page-break-before: always;"></div>
          {{/if}}
          <main class="main"> 
            <header class="header">
              {{!-- dynamic header with page value  --}}
              {{#with (lookup ../$pdf.pages @index)}}
                {{group}}
              {{/with}}  
            </header>
            <footer class="footer">
                <span>Pagina {{getPageInfo ../$pdf.pages @index}}</span>
            </footer>
          </main>
        {{/each}}
    </body>
</html>